version: "2.1"
services:
  bot:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - DISCORD_LOGIN_TOKEN=${DISCORD_LOGIN_TOKEN}
        - DISCORD_LOGIN_RETRY_TIMEOUT=${DISCORD_LOGIN_RETRY_TIMEOUT}
        - DISCORD_LOGIN_RETRY_ATTEMPTS=${DISCORD_LOGIN_RETRY_ATTEMPTS}
        - DISCORD_BOT_OWNER=${DISCORD_BOT_OWNER}
        - DISCORD_BOT_ADMINISTRATORS=${DISCORD_BOT_ADMINISTRATORS}
        - DISCORD_CHANNEL_REGEXP=${DISCORD_CHANNEL_REGEXP}
        - COMMAND_PREFIX=${COMMAND_PREFIX}
        - API_KEY=${API_KEY}
        - API_URL=${API_URL}
    restart: always
    env_file:
      - .env
